# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# Environment Variables (SENSITIVE)
.env

# IDE - IntelliJ IDEA
.idea/
*.iml
out/
gen/

# IDE - VS Code
.vscode/

# OS Files
Thumbs.db
.DS_Store

# Log files
*.log
